<div id="load-file-modal" class="modal hide fade" style="width: 70%;left: 34%;">

  <div class="modal-header">

    <button type="button" class="close" data-dismiss="modal">×</button>


    <div class="pagination pagination-centered">
        <ul class="cleanup">
        </ul>
    </div>

    <div id="modal-header-content" class="cleanup">

      <!--<h4>Previsao do cocumento</h4>-->

      <!--<p>-->
        <!--Selecione o intervalo de linhas a serem exportadas-->
      <!--</p>-->

    </div>

  </div>
  <div id="load-file-modal-content" class="modal-body cleanup" >

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" id="modal-finish-button" class="btn btn-primary">Save changes</a>
  </div>
</div>
